<div class="banner-w3" id="home">
  <div class="w3-agile-logo">
    <div class=" head-wl">
      <div class="agileinfo-social-grids">
        <ul>
          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#"><span class="fa fa-rss"></span></a></li>
        </ul>
      </div>
      <div class="w3-header-top-right">
      <div class="w3-header-top-right-text">
          <p><span class="fa fa-phone" aria-hidden="true"></span> (XXX)+XXX 245 66</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="header-w3layouts">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <h1><a class="navbar-brand " href="index.html">Herambh</a></h1>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"><a class="page-scroll" href="#page-top"></a> </li>
          <li><a class="page-scroll" href="#home">Home</a></li>
          <li><a class="page-scroll scroll" href="#about">About</a></li>
          <li><a class="page-scroll scroll" href="#service">Service</a></li>
          <li><a class="page-scroll scroll" href="#gallery">Gallery</a></li>
          <li><a class="page-scroll scroll" href="#contact">Contact</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>


  <div class="container">
    <!-- header -->
    <header>
      <div class="flexslider-info">
        <section class="slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <div class=" w3l-info">
                  <div class="col-md-8  info-lleft-side">
                    <h4>Welcome To Hospital</h4>
                    <p>Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.Sed lorem enim, rutrum quis diam nec.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class=" w3l-info">
                  <div class="col-md-8 info-lleft-side">
                    <h4>Better Health Care</h4>
                    <p>Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.Sed lorem enim, rutrum quis diam nec.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class=" w3l-info">
                  <div class="col-md-8 info-lleft-side">
                    <h4>Get YourSelf Fixed</h4>
                    <p>Vivamus sed porttitor felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                      egestas.Sed lorem enim, rutrum quis diam nec.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </header>
  </div>
  <div class="clearfix"> </div>
</div>

<!-- //header -->
<div class="agileits-banner-grids text-center">
  <div class="banner-bottom-girds">
    <div class="col-md-4  col-sm-4 clr1 agileits-banner-grid">
      <span class="fa fa-heart banner-icon" aria-hidden="true"></span>
      <h4>Our Philosophy</h4>
      <p>The goal-oriented treatment regime we create for all our patients is specifically designed to 
          suit individual and occupational needs. Each session is exclusive to each patient with a dedicated therapist assigned.</p>
    </div>
    <div class="col-md-4 col-sm-4 clr2 agileits-banner-grid">
      <span class="fa fa-ambulance banner-icon" aria-hidden="true"></span>
      <h4>Amenities</h4>
      <p>1.Electrotherapy to be covered in slides and videos.<br><br>
         2.Kinesio taping and Joint manipulation in slides and photos.</p>
    </div>
    <div class=" col-md-4 col-sm-4 clr3 agileits-banner-grid">
      <span class="fa fa-heartbeat banner-icon" aria-hidden="true"></span>
      <h4>Patient Care</h4>
      <p>At Heramb Physiotherapy and Rehabilitation clinic, we help you avoid surgical procedures in all but the most extreme cases, and show you how your own body can work wonders to cure itself.</p>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
