    <!-- Aboutmodal -->
    <div class="modal about-modal fade" id="aboutModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">About</h4>
          </div>
          <div class="modal-body">
            <div class="out-info">
                    <p>Dr. Vishnu Mankar, P.T. (Pune) with 7 years of experience. He is the founder of Heramb Physiotherapy and Rehabilitation clinic. A qualified physiotherapist 
                     with vast experience in assessment, diagnosis, and managment of orthopaedic, neurological, and sports injuries. </p>
                     <p>He has successfully treated over 9000 patients since 2010. He is registered with Indian Association of Physiotherapists (IAP) and Maharashtra Council
                     of Physiotherapy and Occupational therapy (OTPT). </p>
                     <p>He is also certified in sports injury managment, ergonomic advice and posture management,
                     diversified Osteopathy and Chiropractic spine and peripheral joint manipulation, cupping, kinetic and myokinetic release and advance myofacial
                     release with matrix therapy, antenatal & postnatal fitness care.</p>
                     <img src="../assets/img/gallery/g8.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //modal -->
  <!--about -->
  
  <div class="about" id="about">
    <div class="container">
      <div class="imgg-info-w3">
        <div class="col-md-6 left-about-img">
  
          <img src="../assets/img/img_1.jpg" class="img-responsive s1" alt="s1">
        </div>
        <div class="col-md-6 welcome-left wel">
          <div class="welcome-left-top">
            <h4>About </h4>
            <p class="lead">Dr. Vishnu Mankar, P.T. (Pune) with 7 years of experience.</p>
            <p class="mb-5">He is the founder of Heramb Physiotherapy and Rehabilitation clinic. A qualified physiotherapist 
              with vast experience in assessment, diagnosis, and managment of orthopaedic, neurological, and sports injuries.
             He has successfully treated over 9000 patients since 2010.</p>
              <div class="agileits_w3layouts_more">
              <a href="#" data-toggle="modal" data-target="#aboutModal">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--//about -->
