<!--contact-->
<div class="contact" id="contact">
  <div class="container">
    <h4 class="title">CONTACT US</h4>
    <div class=" col-md-7 contact-address">
      <h4>Contact Address</h4>
      <div class="para-left">
        <p>There are two branches of our clinic in this city</p>
      </div>
      <div class="contact-left">
        <div class="address-contact-left ">
          <h5>Address:</h5>
          <p><span class="fa fa-home"></span>302, Goodwill Square, Near Canara Bank, Dhanori, Pune 15.</p>
          <p><span class="fa fa-home"></span>c/o Vinod Memorial Hospital, Alandi road, Vishrantwadi, Pune 15. </p>
        </div>
        <div class="address-contact-left ">
          <h5>Phones:</h5>
          <p><span class="fa fa-phone"></span> +9900887766</p>
          <p><span class="fa fa-phone"></span> +11 222 333</p>
        </div>
        <div class="address-contact-left ">
          <h5>Email:</h5>
          <p><span class="fa fa-envelope"></span> <a href="mailto:info@example.com">mail@example.com</a></p>
        </div>
      </div>
    </div>
    <div class=" col-md-5 contact-top">
      <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d121024.21347722!2d73.80720653475082!3d18.573737974178492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bc2c0d2739e99f3%3A0xec4c3c4a3bb12218!2sVinod+Memorial+Hospital+pune+map!3m2!1d18.5737509!2d73.877247!5e0!3m2!1sen!2sin!4v1529080197540"
       allowfullscreen=""></iframe>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
<!--//contact-->

