<!--gallery-->
<div class="gallery titl-bottom" id="gallery">
  <h3 class="title">Gallery</h3>
  <div class="gallery-info">
    <div class="col-md-6 col-sm-6 gallery-grids glry-grid1 ">
      <div class="gallery-grids-top w3_agile_gallery_grid ">
        <a class="b-link-stripe" href="../assets/img/gallery/g4.jpg" data-lightbox="example-set" data-title="Making your life easier. ">
            <img src="../assets/img/gallery/g4.jpg" class="img-responsive" alt="">
            <div class="b-wrapper">			
            </div>
          </a>
      </div>
      <div class="gallery-grids-top">
        <div class="col-md-6 col-sm-6 bottom-grids w3_agile_gallery_grid">
          <a class="b-link-stripe" href="../assets/img/gallery/g1.jpg" data-lightbox="example-set" data-title="Making your life easier.">
              <img src="../assets/img/gallery/g1.jpg" class="img-responsive" alt="">
              <div class="b-wrapper">			
              </div>
            </a>
        </div>
        <div class="col-md-6 col-sm-6 bottom-grids w3_agile_gallery_grid">
          <a class="b-link-stripe" href="../assets/img/gallery/g2.jpg" data-lightbox="example-set" data-title="Making your life easier.">
              <img src="../assets/img/gallery/g2.jpg" class="img-responsive" alt="">
              <div class="b-wrapper">				
              </div>
            </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 gallery-grids w3_agile_gallery_grid glry-grid2">
      <a class="b-link-stripe " href="../assets/img/gallery/g3.jpg" data-lightbox="example-set">
          <img src="../assets/img/gallery/g3.jpg" class="img-responsive" alt="">
          <div class="b-wrapper">			
          </div>
        </a>
        <a class="b-link-stripe" href="../assets/img/gallery/g7.jpg" data-lightbox="example-set">
          <img src="../assets/img/gallery/g7.jpg" class="img-responsive" alt="">
          <div class="b-wrapper">			
          </div>
        </a>
        <a class="b-link-stripe" href="../assets/img/gallery/g9.jpg" data-lightbox="example-set">
          <img src="../assets/img/gallery/g9.jpg" class="img-responsive" alt="">
          <div class="b-wrapper">			
          </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-3 gallery-grids w3_agile_gallery_grid glry-grid3">
      <a class="b-link-stripe" href="../assets/img/gallery/g6.jpg" data-lightbox="example-set">
          <img src="../assets/img/gallery/g6.jpg" class="img-responsive" alt="">
          <div class="b-wrapper">				
          </div>
        </a>
        <a class="b-link-stripe" href="../assets/img/gallery/g8.jpg" data-lightbox="example-set">
          <img src="../assets/img/gallery/g8.jpg" class="img-responsive" alt="">
          <div class="b-wrapper">			
          </div>
        </a>
      
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!--//gallery-->

