<!--services -->
<div class="services " id="service">
  <div class="container">
    <h3 class="title tit-clr">OUR Service</h3>
    <div class="flexslider-info">
        <section class="slider">
          <div class="flexslider">
            <ul class="slides negMargin">
              <li>
                <div class=" w3l-info">
                  <div class="col-md-12  info-lleft-side">
                    <h5>1.IFT: </h5>
        
        <p> Interferential therapy is a treatment to aid in the relief of pain and promotion of soft tissue healing. 
         Small electrical impulses are induced into the tissues in the area of pain. </p>
        <p>  Where these waves intersect below the surface of the skin, the low-frequency stimulation induces the body to secrete endorphins,
         which are the body's natural pain killers. </p>
        <p> IFT also decreases local swelling and helps restore motion.</p></div>
        <div class="w3layouts_more-buttn">
            <a href="service.html">Read More</a>
          </div>			
                </div>

              </li>
              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                    <h5>2. ULTRASOUND:</h5>
        
        <p>It is low frequency sound wave which helps in healing at cellular level.</p>
        <p>It increases soft tissue extensibility, blood flow and metabolism. It helps in reducing inflammation.</p>
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                     <h5>3. TENS: </h5>
        
        <p>TENS stands for transcutaneous electrical nerve stimulation.  This modality uses electrical transmission to decrease pain. 
         Electrodes are applied directly to the skin which then stimulate nerves in a localized area.</p>
        <p>patients often report a tingling sensation felt in the underlying skin and muscle.  </p>
          <p>This nerve innervation can modulate and suppress the pain signal being transmitted to the brain for pain relief.</p>
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                  <h5>4. EMS: </h5>
        
        <p> Electrical stimulation uses an electrical current to cause a single muscle group or group of muscles to contract. 
         By placing electrodes on the skin in various locations, the physiotherapist can recruit the appropriate muscle fibers. 
         Contracting the muscle via electrical stimulation helps strengthen the affected muscle.</p>  
        <p>The physiotherapist can change the current setting to allow for a forceful or gentle muscle contraction.  
        Along with increasing the muscle strength, the contraction of the muscle also promotes blood supply to the area, which assists in healing.</p>
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                  <h5>5. ELETRICAL BACK or NECK TRACTION:</h5>
        
        <p>Traction is used to relieve the pain and correct problems in spine. It stretches the spine to take pressure off compressed discs.</p>
      <p>This straightens the spine and improves the body's ability to heal itself. It is used to treat slipped discs, sciatica etc.</p>
        
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                   <h5>6. HEAT and CRYOTHERAPY:</h5>
        
        <p>Hot or cold packs are used in combination of other treatments to relax muscles, reduce inflammation  or swelling and for pain relief.</p>
        
        
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                  <h5>8. JOINT MANIPULATION</h5>
        
        <p>Joint Manipulation is a type of passive movement of a skeletal joint.  It is usually aimed at one or more synovial 
        joints with the aim of achieving a therapeutic event.</p>
        
        <p>The clinical effects of joint manipulation have been shown to include temporary relief of musculoskeletal pain, 
        shortened time to recover from acute back sprains, temporarily show increases in passive range of motion and physiological effects upon the nervous system.</p>
        
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                  <h5>9.KINESIO TAPING</h5>
        
        
        <p>Kinesio taping gives support and stability to your joints and muscles without affecting circulation and range of motion. 
         It is also used for preventative maintenance, edema and to treat pain.  It is a technique based on the body's own natural healing process. </p> 
        
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                              <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                   <h5>10. CUPPING</h5>
        <p>Cupping therapy is an ancient of alternative medicine in which a therapist puts special cups on your skin for a few minutes 
        to create suction. It's therapeutic benefits includes pain relief, inflammation relief, increased blood flow, relaxation and wel-being, 
        and as a type of deep-tissue massage. </p>
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
             <li>
                <div class=" w3l-info">
                  <div class="col-md-12 info-lleft-side">
                  <h5>11. Kinetic and myokinese release</h5>
        <p>Kinetic chain release is a simple yet highly effective system of mobilization and stretches. It helps to eliminate pain and increase mobility
        in individuales of all ages, from young children to the elderly. It utilises a series of gental mobilization of key joints and muscles in the
        body to bring about postural changes. </p>
                  </div>
                  <div class="w3layouts_more-buttn">
                      <a href="service.html">Read More</a>
                    </div>	
                </div>
              </li>
                            
            </ul>
          </div>
        </section>
      </div>
</div>
</div>
<!--//services -->

